{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{ asset('css/inicio_estilo.css')}}">
{% endblock %}

{% block contenido %}
   
<main>
        <h2><iframe class="iframe" src="https://www.youtube.com/embed/6THZMVLl_oQ" allow="autoplay; encrypted-media" allowfullscreen></iframe></h2>
    </main>


{% endblock %}
